<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico"/>
    <title>@ViewBag.Title - Hamrit Sidhu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                    
                    <span class="icon-bar"></span>
                </button>
                
                <img class="width-50 pull-left" src="~/Images/logo.png" />
                    @Html.ActionLink("Hamrit Sidhu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand font-fam-hand" })
                @*@Html.Raw(@Html.ActionLink("[replacetext]", "Index", "Home").ToHtmlString().Replace("[replacetext]", "<img src=\"../Images/logo.png\" ... />"))*@
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li><a href="~/Files/Resume.pdf">Résumé</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        @*<hr />*@
        <footer>
            <div class="row background-primary text-align-center">
          
                    <a href="https://github.com/HamritSidhu">
                        <img class="footer-links" src="~/Images/git.png" />
                    </a>
           
                    <a href="https://www.linkedin.com/in/hamritsidhu">
                        <img class="footer-links" src="~/Images/linkedin.gif" />
                    </a>
               
                    <a href="https://twitter.com/HamritSidhu">
                        <img class="footer-links" src="~/Images/twitter.png" />
                    </a>
                    <a href="mailto:hamritsidhu@gmail.com">
                        <img class="footer-links" src="~/Images/mail.png" />
                    </a>
               
            </div>

            <p class="text-align-center"><small>HAMRIT SIDHU &copy; @DateTime.Now.Year - ALL RIGHTS RESERVED</small></p>
        </footer>
    </div>

  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
