@model PersonalWebsite.DAL.Blog.Post

@Scripts.Render("~/bundles/prism")

@{
    ViewBag.Title = Model.title;
}

<div id="fb-root"></div>
<div class="container">
<div>
    <h2>
        @Model.title
    </h2>
    <div class="font-grey">
        @Model.datePosted.Date.ToString("yyyy-MM-dd") | By Hamrit Sidhu
    </div>
    <div class="fb-share-button margin-top-2" data-href="/Blog/Post?name=@Model.route" data-layout="button_count"></div>
</div>

    <div class="col-md-12 margin-bottom-2 margin-top-2">
        @Html.Raw(Model.content)
    </div>

</div>

@Scripts.Render("~/bundles/blog")
